@mixin pc{
    @media screeen and (max-width:800px){
        @content;
    }
}
@mixin sp{
    @media screeen and (min-width:801px){
        @content;
    }
}
@import "base.scss";
@import "main.scss";
@import "header.scss";
