body {
  margin: 0; }

header {
  padding: 8px;
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px;
  grid-gap: 8px;
  color: #fff;
  background: #ec6800;
  height: 40px;
  width: 100%;
  box-sizing: border-box; }
  header #menu_container #trigger {
    width: 24px;
    height: 24px;
    display: block; }
    header #menu_container #trigger img {
      width: 24px;
      height: 24px; }
  header #menu_container menu {
    width: 300px;
    left: -300px;
    padding: 0;
    margin: 0;
    height: 100vh;
    top: 0;
    position: absolute;
    z-index: 5;
    background: #fff;
    transition: left 0.3s; }
  header #menu_container #menu_overray {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0004;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 4; }
  header #menu_container #status:checked ~ menu {
    left: 0; }
  header #menu_container #status:checked ~ #menu_overray {
    opacity: 1;
    pointer-events: all; }
  header #title {
    display: block;
    margin: 0;
    font-size: 1em;
    text-align: center;
    line-height: 24px; }
